* {
  padding: 0%;
  margin: 0%;
}

:root {
  --bg: white;
  --primaryColorLight: #c3fae8;
  --font: black;
  --bgcolor: #c3fae8;
  --slcolor: black;
  --pshadow: rgba(0, 0, 0, 0.2);
  --rbox: solid black;
  --hoverColor: #20c997;
  --secondaryAccent: #087f5b;
}

[data-theme="dark"] {
  --bg: black;
  --font: white;
  --bgcolor: rgba(128, 128, 128, 0.453);
  --slcolor: black;
  --pshadow: rgba(255, 255, 255, 0.564);
  --rbox: solid grey;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--font);
  font-family: "Poppins", sans-serif;

  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  /* scroll-behavior: smooth; */
  width: 100%;
  height: 100vh;
}

.head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  bottom: -4rem;
  left: 15rem;
  height: auto;
  width: 25rem;
  z-index: -1;
}

h1 {
  font-family: "Lobster", sans-serif;

  font-size: 8rem;
  /* width: 50rem; */
}

.navparent {
  display: flex;
  justify-content: center;
}

.navigation {
  border-radius: 15px;
  height: 40px;
  width: 65%;
  font-size: 1.6rem;
  /* gap: 20rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bgcolor);
}

.navigation a {
  /* background-color: rgba(128, 128, 128, 0.692);
    border-radius: 5px; */
  text-decoration: none;
  font-weight: 300;
  color: var(--font);
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.15s ease;
  font-size: 1.5rem;
}

.navigation a:hover {
  border-radius: 25px;
  font-weight: 400;
  width: auto;
  color: var(--secondaryAccent);
  /* background-color: var(--hoverColor); */
  transform: scale(1.18);
}

.discount {
  color: var(--font);
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background-color: var(--bgcolor);
}

/*                  Home box                 */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20rem;
  column-gap: 10rem;
}

.hbparent {
  display: flex;
  justify-content: center;
}

.htext {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.homebox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  height: 35rem;
  width: 40rem;
  /* padding-left: 5rem;
    padding-right: 10rem; */
  font-size: 1.5rem;
  background-color: var(--bgcolor);
}

.holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempResume {
  position: absolute;
  top: 15rem;
  right: 10rem;
  transition: all 0.2s ease;
}

.tempResume:hover {
  transform: rotate(15deg) scale(1.2);
}

.holder p {
  width: 20rem;
}

.slbparent {
  color: var(--slcolor);
  border-radius: 10px;
  /* background-color: whitesmoke; */
  height: 14rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slbox {
  text-align: center;
}

.btn {
  background-color: var(--secondaryAccent) !important;
  padding: 15px !important;
}

/*                about box           */

/* .abparent{
    display: flex;
    justify-content: center;
} */

.atext {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.about {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  border-radius: 15px;
  height: 35rem;
  width: 40rem;
  font-size: 1.5rem;
  background-color: var(--bgcolor);
}

.aholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aholder p {
  width: 20rem;
}

/*                  Contact            */

/* .cbparent{
    display: flex;
    justify-content: center;
} */

.ctext {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.contact {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  margin-left: 20px;
  height: 35rem;
  width: 40rem;
  /* padding-left: 5rem;
    padding-right: 10rem; */
  font-size: 1.5rem;
  background-color: var(--bgcolor);
}

.cholder {
  display: flex;
  position: absolute;
  top: 9rem;
  left: 0.4rem;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

.cholder p {
  width: 20rem;
}

/* picture  */

.atext {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.about {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  border-radius: 15px;
  height: 35rem;
  width: 40rem;
  font-size: 1.5rem;
  background-color: var(--bgcolor);
}

.aholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aholder p {
  width: 20rem;
}

/*             Pricing        */

.priparent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing {
}

.ptext {
  /* position: absolute; */
  /* top: 1rem;
    left: 1.5rem; */
}

.pholder {
  font-size: 1.5rem;
}

.line {
  width: 20rem;
  height: 1px;
  background-color: var(--bgcolor);
}

.pbparent {
  display: flex;
}

.pbox {
  display: flex;
  align-items: center;

  gap: 1.5rem;
}

.card {
  box-shadow: 0 0 10px 4px var(--pshadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: var(--bgcolor);
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  transition: all 0.15s ease;
}

.card-yearly {
  width: 22rem;
  height: 28rem;
}

.monthly {
  font-weight: bold;
  transition: all 0.15s ease;
}

.card:hover {
  box-shadow: 0 0 10px 6px var(--pshadow);
  border-radius: 10px;
  /* transform: scale(1.05); */
  transform: translateY(-1.75rem);
}

.cardTitle {
  font-weight: 400;
  font-size: 38px;
}

.cost {
  display: flex;
  align-items: end;
  gap: 3px;
}

.cost h5 {
  font-weight: 550;
}

.cost h7 {
  font-size: 0.9rem;
}

.feature {
  font-size: 1rem;
}

.line {
  width: 18rem;
  height: 0.3px;
  background-color: rgba(93, 93, 93, 0.5);
}

.adv {
  align-items: center;
  font-size: 1.1rem;
}

.button {
  color: whitesmoke;
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--secondaryAccent);
  outline: none;
  border: none;
  transition: all 0.15s ease;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  /* height: 10rem; */
  width: 50%;
}

.review {
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rtext {
  display: flex;
  text-align: left;
  width: 13rem;
  justify-content: center;
}

.tarea {
  border: var(--rbox);
}

.rbutton {
  justify-content: center;
  height: 2rem;
  width: 5rem;
}

.foot {
  background-color: var(--bgcolor);
}

.dark {
  fill: black;
}

.light {
  display: none;
  fill: white;
}

[data-theme="dark"] .dark {
  display: none;
}

[data-theme="dark"] .light {
  display: block;
}

.cicons {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 12rem;
  gap: 1.5rem;
}

.mail {
  height: 30px;
  width: 30px;
  transition: all 0.15s ease;
}

.linkedin {
  height: 30px;
  width: 30px;
  transition: all 0.15s ease;
}

.insta {
  height: 30px;
  width: 30px;
  transition: all 0.15s ease;
}

.mail:hover,
.linkedin:hover,
.insta:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.173);
  border-radius: 4px;
  /* transform: scale(2); */
  transform: translateY(-1rem);
}

/* SIGNUP SHENANIGANS */

.signupBtn,
.loginBtn {
  padding: 0.6rem;
  border-radius: 10px;
}

.signupBtn:hover,
.loginBtn:hover {
  cursor: pointer;
  background-color: var(--bgcolor);
}
.signup,
.signupForm {
  position: fixed;
  /* top: 300px; */
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.15);
  transform: translateX(100%);
  transition: all 0.8s ease;
}

.signup.active,
.signupForm.active {
  position: absolute;
  /* top: 0px; */
  right: 10px;
  transform: translateY(-5rem);
  transform: translateX(-40rem);
  /* transform: translate(-5rem, 8rem); */
}
.signupForm {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.entry {
  height: 55px;
  width: 360px;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.301);
  transition: all 0.15s ease;
}

.entry::placeholder {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 18px;
}

.entry:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 8px 4px #5c7cfa96;
}

.entry:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
}

.check {
  display: flex;
  gap: 2px;
}

.checkbox {
  background-color: #b9c8ff;
}

.tc {
  color: var(--fontSecondaryAccent);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btns p {
  text-align: center;
}

.btn {
  height: 45px;
  width: 360px;
  border-radius: 10px;
  border: none;
  background-color: var(--bgcolor);
  font-size: 20px;
  color: rgba(233, 236, 239, 0.9);
  font-weight: 500;
  transition: all 0.1s ease;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  background-color: var(--pshadow);
  color: var(--bg);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.loginDiv {
  display: flex;
  gap: 5px;
}

.loginLink {
  text-decoration: none;
  color: var(--buttonHoverAccent);
  font-weight: 700;
  transition: all 0.15s ease;
}

.loginLink:hover {
  transform: translateY(-0.3rem);
}
